{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h3 class="text-center mb-5">Crea una nueva propiedad</h3>
    <form action="/inmuebles/crear/" method="post">
        {% csrf_token %}
        <div class="row g-5">
            <div class="col-md-4">
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre:</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" required placeholder="Nombre de la propiedad">
                </div>
                <div class="mb-3">
                    <label for="descripcion" class="form-label">Descripción:</label>
                    <textarea name="descripcion" class="form-control" id="descripcion" rows="3" required maxlength="1500" placeholder="Breve descripción..."></textarea>
                </div>
                <div class="mb-3">
                    <label for="m2_construidos" class="form-label">Metros Construídos:</label>
                    <input type="number" class="form-control" id="m2_construidos" name="m2_construidos" min="1" required placeholder="23 m^2">
                </div>
                <div class="mb-3">
                    <label for="m2_totales" class="form-label">Metros Totales:</label>
                    <input type="number" class="form-control" id="m2_totales" name="m2_totales" min="1" required placeholder="50 m^2">
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <label for="num_estacionamientos" class="form-label">Num. Estacionamientos:</label>
                    <input type="number" class="form-control" id="num_estacionamientos" name="num_estacionamientos" min="0" value="0" required placeholder="Número">
                </div>
                <div class="mb-3">
                    <label for="num_habitaciones" class="form-label">Num. Habitaciones:</label>
                    <input type="number" class="form-control" id="num_habitaciones" name="num_habitaciones" min="0" value="0" required placeholder="Número">
                </div>
                <div class="mb-3">
                    <label for="num_baños" class="form-label">Num. Baños:</label>
                    <input type="number" class="form-control" id="num_baños" name="num_baños" min="0" value="0" required placeholder="Número">
                </div>
                <div class="mb-3">
                    <label for="direccion" class="form-label">Dirección:</label>
                    <input type="text" class="form-control" id="direccion" name="direccion" required placeholder="Dirección">
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <label for="tipo_inmueble" class="form-label">Tipo de Inmueble:</label>
                    <select class="form-select" id="tipo_inmueble" name="tipo_inmueble" required>
                        <option value="" disabled selected>Selecciona un tipo</option>
                        {% for tipo in tipos_inmueble %}
                        <option value="{{ tipo.0 }}">{{ tipo.1 }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="precio" class="form-label">Precio (CLP):</label>
                    <input type="number" class="form-control" id="precio" name="precio" min="1000" required placeholder="$250.000">
                </div>
                <div class="mb-3">
                    <label for="region_cod" class="form-label">Región:</label>
                    <select class="form-select" id="region_cod" name="region_cod" required>
                        <option value="" disabled selected>Selecciona una Región</option>
                        {% for region in regiones %}
                        <option value="{{ region.cod }}">{{ region.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="comuna_cod" class="form-label">Comuna:</label>
                    <select class="form-select" id="comuna_cod" name="comuna_cod" required>
                        <option value="" disabled selected>Selecciona una Comuna</option>
                        {% for comuna in comunas %}
                        <option value="{{ comuna.cod }}">{{ comuna.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="text-center mt-4 mb-5">
            <button type="submit" class="btn btn-success">Crear Propiedad</button>
        </div>
    </form>
</div>
{% endblock %}

{% block js %}
<script>
    function filtrar_comunas() {
        const cod_seleccionado = $(this).val();
        $('#comuna_cod option').each(function() {
            const comuna = $(this);
            const cod_comuna = comuna.val();
            if (cod_seleccionado == cod_comuna.substring(0, 2)) {
                comuna.show();
            } else {
                comuna.hide();
            }
        });
    }
    $('#region_cod').on('change', filtrar_comunas);
</script>
{% endblock %}
