/* BODY */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
    font-family: "Poppins", sans-serif;
    color: #878787;
    font-size: 20px !important; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* NAVBAR */
.navbar{
    background-color: #ffffff !important;
    font-family: "Poppins", sans-serif;
    padding-left: 3.5rem;
}

.navbar-custom {
    font-size: 16px !important; 
    color: #ffffff; 
}

.nav-item {
    font-family: "Poppins", sans-serif;
    color: #215f9a !important;
    font-size: 20px !important; 
    font-weight: bold;
    margin: 0 1rem;
}

.nav-link {
    font-family: "Poppins", sans-serif;
    color: #215f9a !important;
    font-size: 20px !important; 
    font-weight: bold;
    margin: 0 0.8rem;
}

/* LOGO */
.logo{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 200px;

}

img{
    width: 200px;
    height: auto;
}

/* PRODUCTOS */
.section-products {
    padding-top: 20px;
    padding-bottom: 20px;
}

.section-products .header {
    margin-bottom: 50px;
}

.section-products .header h3 {
    font-size: 1rem;
    color: #fe302f;
    font-weight: 500;
}

.section-products .header h2 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #ffffff;
}

.product-card {
    transition: transform 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    text-align: center;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card .card-img-top {
    transition: opacity 0.3s ease;
}

.product-card:hover .card-img-top {
    opacity: 0.8;
}

.product-card .card-body {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
}

.product-card .card-title {
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: bold;
}

.product-card .card-text {
    font-size: 1rem;
    color: #ffffff;
    flex: 1;
}

.product-card .product-price {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    margin-top: auto;
}

.product-card .btn-primary {
    background-color: #4ab24c;
    border-color: #4ab24c;
}

.product-card .btn-primary:hover {
    background-color: #008734;
    border-color: #008734;
}

.btn-secondary {
    background-color: #46b0e0;
    border-color: #46b0e0;
}

.btn-secondary:hover {
    background-color: #348bb4;
    border-color: #73c1e5;
}

.btn-primary {
    background-color: #a6caec;
    border-color: #a6caec;
}

.btn-primary:hover {
    background-color: #46b0e0;
    border-color: #46b0e0;
}


.card-body .mt-auto {
    margin-top: auto;
}

.row.justify-content-center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media (max-width: 576px) {
    .product-card {
        margin: 0 auto;
        float: none;
    }
}